/* components/ToastNotification.css */

/* fade-in 애니메이션 정의 */
@keyframes ToastNotification__fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 살짝 올라오면서 나타나도록 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ToastNotification__animate-fade-in {
  animation: ToastNotification__fadeIn 0.5s ease-out forwards; /* 0.5초 동안 부드럽게 나타남 */
}

.ToastNotification__container {
  z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}